.contacto {
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.contacto h2 {
  margin: 0;
  margin-top: 20px;
  padding: 0 20px;
  justify-content: center;
  font-size: 35px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #ffffff;
}

.flecha {
  margin-left: 8px;
  border: 1px solid #ffffff;
  border-radius: 3px;
}

.flecha:hover {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}
